# Исследование надежности заемщиков

## Откроем таблицу и изучим общую информацию о данных

Импортируем библиотеку pandas. Прочитаем данные из csv-файла в датафрейм и сохраним в переменную `data`.

In [1]:
import pandas as pd

try:
    data = pd.read_csv('data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

Выведем первые 10 строк датафрейма `data` на экран.

In [2]:
data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

Выведем основную информацию о датафрейме с помощью метода:

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

Выведем количество пропущенных значений для каждого столбца.

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце обработаем далее. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Заменим все отрицательные значения положительными с помощью метода `abs()`.

In [6]:
data['days_employed'] = data['days_employed'].abs()

Для каждого типа занятости выведем медианное значение трудового стажа `days_employed` в днях.

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть. Тем более этот столбец не понадобится далее для исследования.

Выведем перечень уникальных значений столбца `children`.

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

В столбце `children` есть два аномальных значения. Удалим строки, в которых встречаются такие аномальные значения.

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

Ещё раз выведем перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

Заполним пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`.

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

Убедимся, что все пропуски заполнены.

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

Заменим вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

Выведем на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалим их.

In [14]:
data.duplicated().sum()

54

In [15]:
data = data.drop_duplicates()

Обработаем неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведем их к нижнему регистру. Проверим остальные столбцы.

In [16]:
data['education'] = data['education'].str.lower()

### Категоризация данных

На основании диапазонов, указанных ниже, создадим в датафрейме `data` столбец `total_income_category` с категориями:

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

Выведем на экран перечень уникальных целей взятия кредита из столбца `purpose`.

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Напишем функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

Используем собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучим данные в столбце `purpose` и определим, какие подстроки помогут правильно определить категорию.

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21348 entries, 0 to 21524
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   children               21348 non-null  int64
 1   days_employed          21348 non-null  float64
 2   dob_years              21348 non-null  int64
 3   education              21348 non-null  object
 4   education_id           21348 non-null  int64
 5   family_status          21348 non-null  object
 6   family_status_id       21348 non-null  int64
 7   gender                 21348 non-null  object
 8   income_type            21348 non-null  object
 9   debt                   21348 non-null  int64
 10  total_income           21348 non-null  int32
 11  purpose                21348 non-null  object
 12  total_income_category  21348 non-null  object
 13  purpose_category       21348 non-null  object
dtypes: float64(1), int32(1), int64(5), object(7)
memory usage: 2.4+ MB

## Исследуйте данные и ответьте на вопросы

В задании на проект была задача на создание двух датафреймов:

In [22]:
# education_df = data[['education_id', 'education', 'debt']]
# family_df = data[['family_status_id', 'family_status', 'debt']]

Далее необходимо было удалить колонки eduction и family_status

In [23]:
# education_df = education_df.drop(['education'], axis=1) 
# family_df = family_df.drop(['family_status'], axis=1)

Не совсем понятна идея для чего это предложено было сделать

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

### Есть ли зависимость между количеством детей и возвратом кредита в срок?

Доля "плохих" заемщиков - должников не вернувших кредит в срок:

In [24]:
bed_debts_share = data['debt'].sum() / data['debt'].count()  # Ваш код будет здесь. Вы можете создавать новые ячейки.
print(f'Доля плохих должников {bed_debts_share:.2%}')

Доля плохих должников 8.11%

В данном случае решение задания выполненно с помощью простой группировки данных, с подсчетом суммы и количества наблюдений:
1. Распределение "плохих" заемщиков по группам в зависимости от количества детей
2. Доля "плохих" заемщиков по группам в общем числе плохих заемщиков
3. Распределение общего количества заемщиков, и плохих и хороших, по количеству детей
4. Отношение "плохих" к общему количеству заемщиков, в %

In [25]:
debt_children_group = data.groupby('children')['debt'].sum()
bed_debts_share = debt_children_group / data['debt'].sum() * 100
borrower_count = data.groupby('children')['days_employed'].count()
debt_to_borrowers_share = debt_children_group / borrower_count * 100
print(debt_children_group, bed_debts_share.round(1), borrower_count, debt_to_borrowers_share.round(1))

children
0    1063
1     444
2     194
3      27
4       4
5       0
Name: debt, dtype: int64 children
0    61.4
1    25.6
2    11.2
3     1.6
4     0.2
5     0.0
Name: debt, dtype: float64 children
0    14107
1     4809
2     2052
3      330
4       41
5        9
Name: days_employed, dtype: int64 children
0    7.5
1    9.2
2    9.5
3    8.2
4    9.8
5    0.0
dtype: float64

**Вывод:** 
Исходя из полученной обработки можно сделать вывод о том, что количество "плохих" заемщиков обратно пропорционально количеству детей: 61.4% - это "плохие" заемщики без детей, 25.6% - это "плохие" заемщики с одним ребенком и т.д. Аналогичная обратная зависимость прослеживается между общим количеством заемщиков и количечеством детей. Отношение кол-ва не возвратов к общему количеству заемщиков в каждой группе колеблется от 7.5 до 9.7%% (кроме группы с 5 детьми), что примерно, на мой взгляд, сопоставимо с долей плохих заемщиков в целом по выборке - 8.11%. Единственная группа заемщиков, которая всегда возвращает кредит в срок - это семьи с количеством детей 5, при самом низком количестве заемщиков - всего 9.

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

В данном случае задание выполнено с помощью агрегирования данных:
1. В колонке ['debt']['sum'] - количество "плохих" заемщиков
2. В колонке ['debt']['count'] - совокупное количество заемщиков
3. debt_share% - отношение "плохих" заемшщиков к общему количеству
4. Доля "плохих" к совокупному количеству заемщиков

In [26]:
debt_family_group = data.groupby('family_status').agg({'debt': ['sum', 'count']}) 
debt_family_group['debt_share%'] = debt_family_group['debt']['sum'] / debt_family_group['debt']['count'] * 100
debt_family_group['debtor_share%'] = debt_family_group['debt']['sum'] / data['debt'].sum() * 100
debt_family_group.round(1)

                      debt        debt_share% debtor_share%
                       sum  count
family_status
Не женат / не замужем  273   2796         9.8          15.8
в разводе               84   1189         7.1           4.8
вдовец / вдова          63    951         6.6           3.6
гражданский брак       385   4146         9.3          22.2
женат / замужем        927  12266         7.6          53.5

**Вывод:** Самое высокое количество должников среди заемщиков состоящих в браке - 53.5%. Далее следуют должники состоящие в гражданском браке - 22.2%, должники не состоящие в браке - 15.8%, должники в разводе - 4.8% и должники у которых умер спутник жизни - 3.6%. При этом отношение должников к общему количеству заемщиков в каждой группе колеблется от 6.6 до 9.8%%, ложится в область вокруг 8.11%.

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Решение задания выполнено с помощью сводных таблиц:
1. index = столбец с информацией о категориях доходов
2. columns = столбец с информацией о своевременности выплаты кредита
3. values = столбец по которому считается общее количество наблюдений
4. aggfunс = функция применяемая к значениям, в нашем случае count

In [27]:
data_pivot_income = data.pivot_table(index = ['total_income_category'], columns='debt', values='education_id' , aggfunc='count')
data_pivot_income['all_borrowers'] = data_pivot_income[1] + data_pivot_income[0]
data_pivot_income['ratio%'] = data_pivot_income[1] / data_pivot_income['all_borrowers'] * 100
data_pivot_income['ratio%'] = data_pivot_income['ratio%'].round(2)
data_pivot_income['debtor_share%'] = data_pivot_income[1] / data['debt'].sum() * 100
data_pivot_income['debtor_share%'] = data_pivot_income['debtor_share%'].round(2)
data_pivot_income

debt                       0     1  all_borrowers  ratio%  debtor_share%
total_income_category
A                         23     2             25    8.00           0.12
B                       4660   354           5014    7.06          20.44
C                      14585  1353          15938    8.49          78.12
D                        328    21            349    6.02           1.21
E                         20     2             22    9.09           0.12

**Вывод:** 
Самое большое количество "плохих" заемщиков в категории заемщиков с доходом от 50001 до 200000 - 1353 заемщика / 78.12%. Далее идут "плохие" заемщики категории В с доходом между 200001 и 1000000- 20.44%. За ними "плохие" заемщики категории D - 1.21%. И заемщики с доходом категории А и Е делят последнее место по не своевременным возвратам кредитов - менее 1%.

Распределение доли "плохих" заемщиков внутри каждой группы по уровню дохода выглядид следующим образом:
* категория А - 8.00%
* категория В - 7.06%
* категория С - 8.49%
* категория D - 6.02%
* и категория E - 9.09%

Данный показатель также лежит вокруг доли "плохих" заемщиков в датасете - 8.11%

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

### Как разные цели кредита влияют на его возврат в срок?

Решение задания выполнено с помощью сводных таблиц:
1. index = столбец с категориями по целям кредита
2. columns = столбец с информацией о своевременности выплаты кредита
3. values = столбец по которому считается общее количество наблюдений
4. aggfunс = функция применяемая к значениям, в нашем случае count

In [28]:
data_pivot_purpose = data.pivot_table(index = ['purpose_category'], columns='debt', values='education_id' , aggfunc='count')
data_pivot_purpose['all_borrowers'] = data_pivot_purpose[1] + data_pivot_purpose[0]
data_pivot_purpose['ratio_purpose'] = data_pivot_purpose[1] / data_pivot_purpose['all_borrowers'] * 100
data_pivot_purpose['ratio_purpose'] = data_pivot_purpose['ratio_purpose'].round(2)
data_pivot_purpose['debtor_share%'] = data_pivot_purpose[1] / data['debt'].sum() * 100
data_pivot_purpose['debtor_share%'] = data_pivot_purpose['debtor_share%'].round(2)
data_pivot_purpose

debt,0,1,all_borrowers,ratio_purpose,debtor_share%
purpose_category,,,,,
операции с автомобилем,3881,400,4281,9.34,23.09
операции с недвижимостью,9974,780,10754,7.25,45.03
получение образования,3620,369,3989,9.25,21.30
проведение свадьбы,2141,183,2324,7.87,10.57

**Вывод:** Здесь самое большое количество "плохих" заемщиков, которые брали кредит на операции с недвижимостью - 45.03%. Далее, операции с автомобилем - 23.09%, получение оразования - 21.3% и последня категория - проведение свадьбы - 10.57%. Здесь
явно прослеживается зависимость между размером капитализации операций и риском невозврата кредита. Имеется в ввиду, что категория "операции с недвижимостью" требуют большего финансирования, чем операции с автомобилем или получение образования, и поэтому риск невозврата кредита в данном случае самый высокий.

Распределение доли "плохих" заемщиков внутри групп по целям кредита выглядит следующим образом:   

* в категории "операции с автомобилем" самая высокая доля "плохих" заемщиков - 9.34%
*  в категории "получение образования" доля "плохих" заемщиков составлет 9.25%
*  в категории "проведение свадьбы" доля "плохих" заемщиков составлет 7.87%
*  в категории "операции с недвижимостью" доля "плохих" заемщиков составлет 7.25%

Данный показатель также сопоставим с показателем доли "плохих" заемщиков в датасете - 8.11%

**Задание 23. Приведите возможные причины появления пропусков в исходных данных.**

**Ответ:** Возможные причины пропусков данных:
- ошибки при вводе данных
- специальное сокрытие информации
- фрод

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

Метод median() позволяет исключить влияние на анализ/обработку данных так называемых "выбросов" - не тепичных данных. Средняя некорректно характерезует данные если некоторые значения сильно выделяются.

## Общий вывод.

Считаю что при построении полноценной скоринговой системы:
1. Необходимо включать в выборку больше данных связанных с условиями кредитования: размер, срок, процентная ставка
2. Для определения тесноты и направления связи между дескрептивными параметрами: количество детей, семейное положение, уровень дохода, цель кредита, и способностью своевременной выплачивать кредит, использовать корреляционный анализ
3. Необходимо в большей степени опираться на абсолютные показатели количества "плохих" заемщиков по группам. В рисковую категорию входят бездетные заемщики состоящие в браке с уровнем дохода между 50001 и 200000 и целью кредита "операции с недвижимость".
4. В процессе анализа данных была произведена кагортизация данных по следующим параметрам: по количеству детей; по семейному положению; по уровню дохода и цели кредита. В рамках полученных группировок, внутри каждой группы были расчитаны отношения "плохих" заемщиков к их общему количеству. За исключением одного случая - группа заемщиков с 5 детьми, этот показатель колебался от 6 до 9.8%%.